<!-- Body Start -->
<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">My Orders</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-group">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="user-dt">
                        <div class="user-img">
                            <img src="../../assets/images/template/avatar/img-5.jpg" alt="">
                            <div class="img-add">													
                                <input type="file" id="file">
                                <label for="file"><i class="uil uil-camera-plus"></i></label>
                            </div>
                        </div>
                        <h4>{{userName}}</h4>
                        <p>+91{{userMobileNo}}<a href="#"><i class="uil uil-edit"></i></a></p>
                        <!-- <div class="earn-points"><img src="../../assets/images/template/Dollar.svg" alt="">Points : <span>20</span></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>	
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="left-side-tabs">
                        <div class="dashboard-left-links">
                            <a routerLink="/dashboard" class="user-item"><i class="uil uil-apps"></i>Overview</a>
                            <a routerLink="/myorders" class="user-item active"><i class="uil uil-box"></i>My Orders</a>
                            <a routerLink="/" class="user-item"><i class="uil uil-gift"></i>My Rewards</a>
                            <a routerLink="/" class="user-item"><i class="uil uil-wallet"></i>My Wallet</a>
                            <a routerLink="/" class="user-item"><i class="uil uil-heart"></i>Shopping Wishlist</a>
                            <a routerLink="/myaddresses" class="user-item"><i class="uil uil-location-point"></i>My Addresses</a>
                            <a (click)="logout()" class="user-item"><i class="uil uil-exit"></i>Logout</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="dashboard-right">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-title-tab">
                                    <h4><i class="uil uil-box"></i>My Orders</h4>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12" *ngIf="myOrders.length!=0;">
                                <div class="pdpt-bg" *ngFor="let order of myOrders;let index=index;">
                                    <div class="pdpt-title">
                                        <h4>Order Placed On {{order.orderdate}}</h4>
                                    </div> 
                                    <div class="order-body10">
                                        <ul class="order-dtsll">
                                            <li>
                                                <div class="order-dt-img">
                                                    <img src="../../assets/images/template/groceries.svg" alt="">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="order-dt47">
                                                    <h4>Order Id - {{order.id}}</h4>
                                                    <div class="order-title">{{order.total_products}} Items</div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="total-dt">
                                            <div class="total-checkout-group">
                                                <div class="cart-total-dil">
                                                    <h4>Sub Total</h4>
                                                    <span> {{order.bill_amount}}</span>
                                                </div>
                                                <div class="cart-total-dil pt-3">
                                                    <h4>Delivery Charges</h4>
                                                    <span>Free</span>
                                                </div>
                                            </div>
                                            <div class="main-total-cart">
                                                <h2>Total</h2>
                                                <span> {{order.bill_amount}}</span>
                                            </div>
                                        </div>
                                        <div class="track-order">
                                            <h4>Track Order</h4>
                                            <h4>{{order.status}}</h4> 
                                        <!--     <div class="container">
                                              <span *ngFor="let item of trackingTypes;let i = index">
                                                  <span class="circle-desc" [class.circle-desc-active]="orderStatus == item">{{ item }}</span>
                                                  <span class="circles" [class.active]="order.status == item"></span>
                                                  <span class="bar" *ngIf="(i != trackingTypes.length-1)"></span>
                                              </span> 
                                            </div> -->
                                            <!-- <div class="bs-wizard" style="border-bottom:0;">   
                                                <div class="bs-wizard-step complete">
                                                    <div class="text-center bs-wizard-stepnum">Placed</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <a href="#" class="bs-wizard-dot"></a>
                                                </div>
                                                <div class="bs-wizard-step complete">
                                                    <div class="text-center bs-wizard-stepnum">Packed</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <a href="#" class="bs-wizard-dot"></a>
                                                </div>
                                                <div class="bs-wizard-step active">
                                                    <div class="text-center bs-wizard-stepnum">On the way</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <a href="#" class="bs-wizard-dot"></a>
                                                </div>
                                                <div class="bs-wizard-step disabled">
                                                    <div class="text-center bs-wizard-stepnum">Delivered</div>
                                                    <div class="progress"><div class="progress-bar"></div></div>
                                                    <a href="#" class="bs-wizard-dot"></a>
                                                </div>
                                            </div> -->
                                        </div>
                                       <!--  <div class="alert-offer">
                                            <img src="images/ribbon.svg" alt="">
                                            Cashback of $2 will be credit to Gambo Super Market wallet 6-12 hours of delivery.
                                        </div> -->
                                        <div class="call-bill">
                                            <div *ngIf="order.status == 'processing' || order.status == 'pending'" class="order-bill-slip">
                                                <a (click)="cancelOrder(order.id)" class="bill-btn5 hover-btn">Cancel Order</a>
                                            </div>
                                            <div class="order-bill-slip">
                                                <a class="bill-btn5 hover-btn">View Bill</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>								
                        </div>
                    </div>
                </div>
            </div>	
        </div>	
    </div>	
</div>
<!-- Body End -->
